Package: com.lucaspedrosa.fboled
Name: FBOLED
Version: 0.2.0
Architecture: iphoneos-arm64
Description: True OLED dark surfaces for Facebook.
Maintainer: Lucas Pedrosa
Author: Lucas Pedrosa
Section: Tweaks
Depends: mobilesubstrate
