Package: com.lucaspedrosa.fbcachecleaner
Name: FBCacheCleaner
Version: 0.2.0~beta1
Architecture: iphoneos-arm64
Description: Conservative Facebook cache cleaner with automatic-cleaning beta test intervals.
Maintainer: Lucas Pedrosa
Author: Lucas Pedrosa
Section: Tweaks
Depends: firmware (>= 15.0)
