Package: com.lucas.iqfaceenhancer
Name: iQFace Enhancer
Version: 0.3.0
Architecture: iphoneos-arm
Description: Build segura para iQFace 1.1, com launcher preservado e tradução pt-BR atualizada.
Maintainer: Lucas
Author: Lucas
Section: Tweaks
Depends: firmware (>= 14.0)
