Package: com.lucas.iqfaceenhancer
Name: iQFace Enhancer
Version: 0.2.0
Architecture: iphoneos-arm
Description: Build segura para ocultar o botão do iQFace e abrir os ajustes pela tab bar.
Maintainer: Lucas
Author: Lucas
Section: Tweaks
Depends: firmware (>= 14.0)
