Package: com.lucas.prism
Name: Prism
Version: 1.0.0
Architecture: iphoneos-arm
Description: Aprimoramentos, tradução e ajustes de interface para iQTele.
Maintainer: Lucas
Author: Lucas
Section: Tweaks
