Package: com.fboled.diagnostic
Name: FBOLED Diagnostic
Version: 0.1.0
Architecture: iphoneos-arm
Description: Diagnostic mapper for Facebook FDS dark-mode colors. No visual modifications.
Maintainer: Lucas
Author: Lucas
Section: Tweaks
